= form_for [ (@quote.persisted? ? nil : @person), @quote ] do |f|
  -if @quote.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quote.errors.count, "error")} prohibited this quote from being saved:"
      %ul
        - @quote.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :person
    = f.text_field :person
  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save'
