!!! 5
%html
  %head
    %title= render_title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          = link_to "MiMiMi", root_url, :class => "brand"
          %ul.nav
            = nav_entry t("people.index.page_title"), people_path
    .container
      .content
        .row
          .span-two-thirds
            .well
              .page-header
                %h1
                  = render_title
                  %small= tagline
          .span-one-third
            .well
              = render "actions"
        .well
          .row
            .span16= yield
      %footer MiMiMi Project
