!!! 5
%html
  %head
    %title= render_title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          = link_to "MiMiMi", root_url, :class => "brand"
          %ul.nav
            %li= link_to t("people.index.page_title"), people_path
    .container
      .content
        .well
          .page-header
            %h1
              = render_title
              %small= tagline
        .well
          .row
            .span16= yield
      %footer
        MiMiMi Project
        :javascript
          var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.yux.ch/" : "http://piwik.yux.ch/");
          document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
          try {
            var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
            piwikTracker.trackPageView();
            piwikTracker.enableLinkTracking();
          } catch( err ) {}
        %noscript
          %img{:src => "http://piwik.yux.ch/piwik.php?idsite=1"}
